#root {
  padding: 10px;
  aspect-ratio: 1 / 1;
  display: grid;
  gap: 12px;
}

button {
  padding: 6px 18px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 0 4px;
}


/* input[type="text"] {
  width: 70%;
} */

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid gray;
}

li>div:last-child {
  display: flex;
  align-items: end;
}

.clock {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.advice {
  text-align: center;
  margin-bottom: 30px;
}

.time {
  padding: 0 40px;
}

.current {
  background-color: rgb(230, 234, 255);
}
